version: 2
updates:
  - package-ecosystem: maven
    directory: "/"
    schedule:
      interval: daily
    ignore:
      - dependency-name: "com.univocity:univocity-parsers"
      - dependency-name: "org.jooq:jooq"
        versions: [">=3.20.0"]
