
# eclipse
/.classpath
/.project
/.settings/

# maven
/target/
rml-engine/src/test/resources/RmlMapper/test15/example3.rml.ttl
rml-engine/src/test/resources/RmlMapper/test15/example3.output.ttl
rml-engine/src/test/resources/RmlMapper/joinBreakfast2.json
rml-engine/src/test/resources/RmlMapper/Venue.json
rml-engine/src/test/resources/RmlMapper/Transport.xml
rml-engine/src/test/resources/RmlMapper/Airport.csv

# Intellij
.idea/
*.iml
*.iws